<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <!-- ナビバー -->
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= render 'layouts/flash_messages' %>
    </div>
    
    <!-- index -->
    
    
    <!-- 基本的な構造 | 上部タイトル画面より下 -->
    <div class="container-fluid">
      <div class="row">
        <div class="basic col bg-dark">
          <div class="row">
            <!-- 各ページが表示される -->
            <%= yield %>
          </div>
        </div>
        <div class="basic col-md-auto bg-dark">
          <div class="row">
            <div class="profile_backgroud bg-warning">
              <!-- 右側のユーザ情報 -->
              <%= render 'users/users_deta', users: @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
